body {
  margin: 0;
  background: url("../images/pattern.png");
  line-height: 1.5;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.container {
  width: 400px;
  margin: 30px auto;
}

/* Card */
h1 {
  text-align: center;
}

.card {
  background-color: #fff;
  box-shadow: 0 5px 14px #ccc;
  border-radius: 10px;
  padding: 20px;
}

.card-avatar {
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 50%;
}

.card-title {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #4fab08;
}

.card-text {
  text-align: justify;
  margin: 0;
  font-size: 14px;
}

.card-subtitle {
  color: #1009df;
  margin: 0;
  margin-top: 10px;
}

.card-list {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style-position: inside;
}

.card-contact {
  margin: 0;
  font-size: 14px;
}

.card-contact p {
  margin-top: 0;
  margin-bottom: 0;
}
