.cascadia {
  font-family: "Cascadia Mono PL", Helvetica, sans-serif;
}

.fontsize30 {
  font-size: 30px;
}

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

.textalign {
  /* text-align: right; */
  /* text-align: left; */
  /* text-align: center; */
  text-align: justify;
}

.textdecoration {
  text-decoration: none;
  text-decoration: overline;
  text-decoration: underline;
  text-decoration: line-through underline;
  text-decoration: line-through;
}

.textshadow {
  text-shadow: 4px 3px 5px #000;
}

.uppercase {
  text-transform: lowercase;
  text-transform: capitalize;
  text-transform: uppercase;
}

.indent {
  text-indent: 50px;
}

.letterspacing {
  letter-spacing: 5px;
}

.wordspacing {
  word-spacing: 10px;
}

.whitespace {
  white-space: normal;
  white-space: nowrap;
}
