/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* page defaults */
html,
body {
  width: 100vw;
  min-height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

/* general classes */
.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.dark {
  background-color: #333;
  color: #fff;
}
/* specifics */
body {
  flex-direction: column;
  padding-bottom: 60px;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0.5rem 0.5rem;
}

.navbar__title {
  width: 100%;
  font-size: 1.5rem;
}

.navbar__navmenu {
  width: 100%;
}

.navbar__list {
  display: block;
  text-align: right;
}

.navbar__list-item {
  display: inline-block;
  margin: 0.5rem;
}
