.myBtn {
  padding: 5px 15px;
  color: teal;
  font-size: 16px;
  font-family: Trim, serif;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
}

.myBtn:hover {
  background-color: teal;
  color: #fff;
}
