.container {
  background-color: lightsteelblue;
}

.block-element {
  border: 2px solid #000;
  /* box-sizing: content-box; */
  box-sizing: border-box;
  padding-left: 25px;
  margin: 20px;
  /* min-width: 500px; */
  /* height: 50px; */
  /* overflow: auto; */
  /* display: none; */
  /* display: inline-block; */
  width: 400px;
  /* border-radius: 30px; */
  box-shadow: 10px -20px 5px #eee;
}

.string-element {
  border: 2px solid peru;
  /* padding: 10px 27px; */
  /* margin: 10px 20px; */
}
