body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ccc;
}

.title {
  font-size: 40px;
  color: #f03333;
  line-height: 1.2;
  text-transform: uppercase;
}

.subtitle {
  font-size: 30px;
  color: #12ac11;
  line-height: 1.2;
}

.list {
  font-size: 20px;
  color: #444;
  font-style: italic;
  list-style-type: square;
  text-shadow: 3px 3px 4px red;
}
