* {
  margin: 0;
  padding: 0;
}

.container {
  width: 50%;
  margin: 50px auto;
  /* background-color: peru; */
  text-align: center;
  font-family: Trim, serif;
  font-size: 4rem;
}

.btn {
  font-family: Trim, serif;
  font-size: 2rem;
  color: teal;
  padding: 5px 50px;
  background-color: transparent;
  border: 2px solid teal;
}

.btn:hover {
  cursor: pointer;
  background-color: teal;
  color: #fff;
}
