.table th,
.table td {
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.table {
  /* border-collapse: separate; */
  border-collapse: collapse;
  width: 500px;
}

.table thead {
  background-color: #f0f1f4;
}

.table tfoot {
  background-color: #121212;
  color: #fff;
  text-align: right;
}
