/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

/* * {
  padding: 0;
  margin: 0;
} */

body {
  background-color: #f1f1f1;
  color: #0f141e;

  font-size: 16px;
  font-weight: normal;
  font-family: "Trim", "Ubuntu", "Roboto", "Noto Sans", sans-serif;
  /*font: normal 16px "Trim", "Ubuntu", "Roboto", "Noto Sans", sans-serif;*/
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  /* color: blue; */
}

a:active {
  color: blue;
}

a:visited {
  color: grey;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  /* border-radius: 50%; */
  box-shadow: 4px 4px 14px #0d0f22;
}

/* Box Model */
.container {
  /*width: 50%;*/
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.info {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .info {
    display: block;
    text-align: center;
  }
}

.info p {
  color: #86898f;
  margin: 0px;
  font-style: italic;
  text-decoration: none;
  /* text-transform: capitalize; */
  /* text-shadow: 1px 1px 1px; */
  /* letter-spacing: 2px; */
  /* word-spacing: 10px; */
}

.info-text {
  margin-left: 40px;
}

.info-text h4 {
  margin-bottom: 10px;
}

.card {
  padding: 15px 20px;
  background: peru;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.bg-yellow {
  background: #fff9dc;
}

.bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.list {
  padding: 0px 20px;
  /* list-style: none; */
}

.list li {
  color: #86898f;
  margin-bottom: 5px;
  /* border-bottom: 1px solid #86898f; */
}

.table {
  width: 100%;
}

.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #86898f;
}

.table td:nth-child(1) {
  font-weight: 600;
}

.link-list {
  /*list-style: url("../images/face.png");*/
  list-style: none;
  padding: 0;
}

.link-list li {
  /*background-color: red;*/
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.contact h2 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #cccccc;
  color: #000000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
}

.row > .form-group:first-child {
  margin-right: 20px;
}

.btn-contact {
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-contact:hover {
  opacity: 0.85;
}

.go-up {
  text-align: center;
}

/*.position {*/
/*  position: relative;*/
/*  border: 4px solid #000000;*/
/*  margin-top: 50px;*/
/*  padding: 10px;*/
/*  height: 300px;*/
/*}*/

/*.box {*/
/*  !*position: absolute;*!*/
/*  position: fixed;*/
/*  top: 0px;*/
/*  left: 0px;*/
/*  !*bottom: 0px;*!*/
/*  !*right: 0px;*!*/
/*  width: 100%;*/
/*  height: 50px;*/
/*  background-color: lightcoral;*/
/*}*/

/*.go-up a {*/
/*  position: fixed;*/
/*  text-align-all: justify;*/
/*  bottom: 50%;*/
/*  right: 1px;*/
/*  width: 60px;*/
/*  height: 60px;*/
/*  background-color: lightcoral;*/
/*  color: white;*/
/*  border-radius: 50%;*/
/*}*/

/* .social {
  background: green;
  padding: 15px;
  margin: 10px;
  border: 5px solid #ff0000;
  border-bottom-style: dashed;
  border-top-width: 15px;
  border-left-color: yellow;
} */

/* > means style will be applied to only children of box-model class */
/* .box-model > div {
  background: black;
  float: left;
  width: 25%;
  height: 200px;
  border: 4px solid red;
  box-sizing: border-box;
} */
