body {
  background-color: #ccc;
}

.grid {
  font-family: Trim, sans-serif;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 50px 50px 50px;
  border: 2px solid #cbcbcb;
  border-radius: 50px;
  box-shadow: 10px 15px 5px #57636e;
}

.grid h1 {
  font-size: 60px;
  text-align: center;
  background-color: #57636e;
  color: #fff;
  padding: 2px 0;
  border-radius: 50px;
}

.grid #question {
  color: #5a6772;
  font-size: 30px;
}

.buttons {
  margin-top: 10px;
  /* background-color: peru; */
}

#btn0,
#btn1,
#btn2,
#btn3 {
  background-color: #778897;
  color: #fff;
  width: 250px;
  font-family: Trim, sans-serif;
  font-size: 20px;
  border: 1px solid #1d3c6a;
  border-radius: 50px;
  margin: 10px 40px 10px 0;
  padding: 10px 20px;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background-color: #57636e;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
  outline: 0;
}

#progress {
  color: #2b2b2b;
  font-size: 18px;
}
