.container {
  margin: 40px auto;
  width: 75%;
  background-color: #ccc;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  /* align-items: flex-start; */
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 5px;
  margin-top: 20px;
}

input {
  margin-bottom: 5px;
}

.out-block {
  margin: 5px 0;
}

button {
  color: teal;
  font-family: Trim, serif;
  border: 1px solid teal;
  background-color: transparent;
  cursor: pointer;
  width: 100px;
}

button:hover {
  background-color: teal;
  color: #fff;
}
