* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  background-color: rgb(236, 232, 227);
}

.App {
  width: 800px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 3px solid teal;
  margin-top: 15px;
  font-family: Trim, serif;
  /* font-size: 16px; */
}

/* .post-content {
  background-color: peru;
} */

/*.post-btns {
  padding: 20px;
  font-size: 26px;
  width: 50px;
  margin: 20px;
  background-color: peru;
}*/
